<div class="container my-5 py-5">
  {{> message}}
  <div class="profile-container pt-5">
    {{> admin-console-tabs}}
    <div class="profile-contents ms-3 col-10" id="v-pills-tabContent">
      {{!-- Orders Table --}}
      <div class="profile-section">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  <div class="d-flex justify-content-center">
                    Order ID
                    {{!-- Sort button --}}
                    <div class="sort-btn d-flex flex-column
                      justify-content-center ms-1">
                      <a
                        href="/admin/dashboard/orders?page={{pagination.currentPage}}&&sortBy=id&sortDir=ASC"><i
                          class="fa-solid fa-sort-up fa-2xs"></i></a>
                      <a
                        href="/admin/dashboard/orders?page={{pagination.currentPage}}&&sortBy=id&sortDir=DESC"><i
                          class="fa-solid fa-sort-down fa-2xs"></i></a>
                    </div>
                  </div>
                </th>
                <th>
                  <div class="d-flex justify-content-center">
                    Order Number
                    {{!-- Sort button --}}
                    <div class="sort-btn d-flex flex-column
                      justify-content-center ms-1">
                      <a
                        href="/admin/dashboard/orders?page={{pagination.currentPage}}&&sortBy=show_id&sortDir=ASC"><i
                          class="fa-solid fa-sort-up fa-2xs"></i></a>
                      <a
                        href="/admin/dashboard/orders?page={{pagination.currentPage}}&&sortBy=show_id&sortDir=DESC"><i
                          class="fa-solid fa-sort-down fa-2xs"></i></a>
                    </div>
                  </div>
                </th>
                <th>User ID</th>
                <th>
                  <div class="d-flex justify-content-center">
                    Order At
                    {{!-- Sort button --}}
                    <div class="sort-btn d-flex flex-column
                      justify-content-center ms-1">
                      <a
                        href="/admin/dashboard/orders?page={{pagination.currentPage}}&&sortBy=created_at&sortDir=ASC"><i
                          class="fa-solid fa-sort-up fa-2xs"></i></a>
                      <a
                        href="/admin/dashboard/orders?page={{pagination.currentPage}}&&sortBy=created_at&sortDir=DESC"><i
                          class="fa-solid fa-sort-down fa-2xs"></i></a>
                    </div>
                  </div>

                </th>
                <th>Status</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              {{#each order}}
              <tr>
                <td data-label="Order ID">{{this.id}}</td>
                <td data-label="Order Number">#{{this.showId}}</td>
                <td data-label="User ID">{{this.userId}}</td>
                <td data-label="Order At">{{this.orderAt}}</td>
                <td data-label="Status">{{this.status}}</td>
                <td data-label="Details">
                  <button type="button" class="btn btn-sm details-btn"
                    data-bs-toggle="modal"
                    data-bs-target="#order{{this.showId}}">
                    Details
                  </button>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      {{#each order}}
      <!-- Order Details Modal -->
      <div class="modal fade" id="order{{this.showId}}" tabindex="-1"
        aria-labelledby="orderDetailsLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Plan Details</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {{!-- Order Details --}}
              <details>
                <summary>
                  <h5 class="profile-subtitle d-inline">Order details</h5>
                </summary>
                <ul class="profile-item my-3">
                  <li><strong>Order ID:</strong>#{{this.id}}</li>
                  <li><strong>Order number:</strong>#{{this.showId}}</li>
                  <li><strong>User ID:</strong>{{this.userId}}</li>
                  <li><strong>User name:</strong>{{this.userName}}</li>
                  <li><strong>User email:</strong>{{this.userEmail}}</li>
                  <li><strong>Ordered at:</strong>{{this.orderAt}}</li>
                  <li>
                    <strong>Status:</strong>{{this.status}}
                  </li>
                  <li><strong>Menu:</strong>{{this.menu}}</li>
                  <li><strong>Preference:</strong> {{this.preference}} </li>
                  <li> <strong>Servings:</strong>{{this.servings}}</li>
                  <li> <strong>Meals:</strong>{{this.meals}} </li>
                  <li> <strong>Total: $</strong>{{this.totalAmount}}</li>
                </ul>
              </details>
              {{!-- Delivery Details --}}
              <details>
                <summary>
                  <h5 class="profile-subtitle d-inline">Delivery Details</h5>
                </summary>
                <ul class="profile-item my-3">
                  <li> <strong>Name: </strong> {{this.name}}</li>
                  <li> <strong>Email: </strong>{{this.email}}</li>
                  <li> <strong>Phone: </strong>{{this.phone}}</li>
                  <li> <strong>Address: </strong> {{this.address}}</li>
                  <li> <strong>Preferred day: </strong> {{this.preferredDay}}</li>
                  <li> <strong>Preferred day: </strong> {{this.preferredTime}}</li>
                </ul>
              </details>
              {{!-- Payment Details --}}
              <details>
                <summary>
                  <h5 class="profile-subtitle d-inline">Payment Details</h5>
                </summary>
                <ul class="profile-item my-3">
                  <li> <strong>Payment status: </strong> {{this.paymentStatus}}</li>
                  {{#is this.paymentStatus 'Payment confirmed'}}
                  <li> <strong>Paid at: </strong>{{this.paidAt}}</li>
                  <li> <strong>Payment method: </strong>{{this.paymentMethod}}</li>
                  {{/is}}
                </ul>
              </details>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
      {{!-- Pagination --}}
      <nav class="mt-3 nav-pagination" aria-label="page navigation">
        <ul class="pagination">
          <li class="page-item {{#is pagination.currentPage 1}}disabled{{/is}}">
            <a class="page-link"
              href="/admin/dashboard/users?page={{pagination.prev}}&sortBy={{sortBy}}&sortDir={{sortDir}}"
              aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {{#each pagination.pages}}
          {{#is this ../pagination.currentPage}}
          <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
          {{else}}
          <li class="page-item">
            <a class="page-link"
              href="/admin/dashboard/users?page={{this}}&sortBy={{../sortBy}}&sortDir={{../sortDir}}">{{this}}</a>
          </li>
          {{/is}}
          {{/each}}
          <li class="page-item {{#is pagination.currentPage
            pagination.totalPage}}disabled{{/is}}">
            <a class="page-link"
              href="/admin/dashboard/users?page={{pagination.next}}&sortBy={{sortBy}}&sortDir={{sortDir}}"
              aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
