<div class="container my-5 py-5">
  {{> message}}
  <div class="profile-container pt-5">
    {{> admin-console-tabs}}
    <div class="profile-contents ms-3 col-10" id="v-pills-tabContent">
      {{!-- Orders Table --}}
      <div class="profile-section">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Active</th>
                <th>Recurring Subscription</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {{#each user}}
              <tr>
                <td data-label="User ID">{{this.id}}</td>
                <td data-label="Name">{{this.name}}</td>
                <td data-label="Email">{{this.email}}</td>
                <td data-label="Created At">{{this.createdAt}}</td>
                <td data-label="Active">{{#is this.activeSub true}}Yes{{else}}No{{/is}}</td>
                <td data-label="Recurring Subscription">{{#is this.recurringSub true}}Yes{{else}}No{{/is}}</td>
                <td data-label="Actions">
                  <div class="editOrder-btn-container">
                    <span class="badge bg-secondary d-inline-block my-2 editOrder-btn"
                      data-bs-toggle="modal" data-bs-target="#editSub{{this.showId}}">Edit</span>
                    <!--  Cancel Order Modal -->
                    <div class="modal fade" id="editSub{{this.showId}}" tabindex="-1"
                      aria-labelledby="editSubModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            Edit Subscription
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <form action="/users/{{this.id}}?_method=PUT"
                              method="post">
                              <button type="submit" class="btn confirm-btn">Confirm</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
