<div class="section-title text-center">
	<h1 class="fw-bold" style="color: #06716e;">Weekly Menu</h1>
</div>

{{#if error}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{{message}}}
  <button type="button" class="btn-close" data-bs-dismiss="alert"
    aria-label="Close">
  </button>
</div>
{{/if}}
<ul class="menu-tab nav nav-tabs nav-justified nav-fill">
  <li class="nav-item">
    <a class="nav-link fs-5 fw-bold {{#is path '/menu/classic'}}active{{/is}}" aria-current="page" href="/menu/classic"><i class="fa-solid fa-utensils fa-fw"></i>Classic</a>
  </li>
  <li class="nav-item">
    <a class="nav-link fs-5 fw-bold {{#is path '/menu/vegetarian'}}active{{/is}}" href="/menu/vegetarian"><i class="fa-solid fa-leaf fa-fw"></i>Vegetarian</a>
  </li>
</ul>
{{!-- menu  --}}
<div class="menu-cards container" >
{{! menu item }}
{{#each recipesData}}
<div class=" card my-3 mx-2">
  <div class="card-img">
    <img
      alt="{{this.dishName}}"
      class=" img-responsive center-block mb-2 card-img-top"
      src="{{this.image}}"
    />
  </div>
  <div class="card-body d-flex flex-column">
    <span class="card-title fs-5 fw-bold mb-2" style="color: #06716e;">{{this.dishName}}</span>
    <ul class="dietary-needs d-flex ">
      {{#if vegetarian}}<li class="me-1"><span class="badge rounded-pill bg-success">Vegetarian</span></li>{{/if}}
        {{#if glutenFree}}<li class="me-1"><span class="badge rounded-pill bg-warning text-dark">Gluten Free</span></li>{{/if}}
        {{#if dairyFree}}<li class="me-1"><span class="badge rounded-pill bg-primary">Dairy Free</span></li>{{/if}}
    </ul>
    <ul class="cardContent-list mt-2">
      <li class="me-2 my-1 fs-6"><i class="fa-solid fa-users fa-fw mx-2"></i></i>Servings:&nbsp;{{this.servings}}</li>
      <li class="me-2 my-1 fs-6"><i class="fa-regular fa-clock fa-fw mx-2"></i>Cooking Time:&nbsp;{{this.cookingTime}}&nbsp;min</li>
    </ul>
    <!-- Button trigger modal of menu card -->
    <div class="mt-auto">
      <button type="button" class="btn btn-success btn-sm d-flex ms-auto" data-bs-toggle="modal" data-bs-target="#n{{camelcase this.dishName}}">
      See more
    </button>
    </div>
    
  </div>
<!-- Modal -->
<div class="modal fade" id="n{{camelcase this.dishName}}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title fw-bold" id="exampleModalLabel" style="color: #06716e;">{{this.dishName}}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <div class="container-fluid">
        <div class="card-img">
        <img alt="{{this.dishName}}" class=" img-responsive center-block mb-2 card-img-top" src="{{this.image}}"/>
        </div>
        <div class="recipe-modal-info">
          <ul class="mt-2 d-flex">
            <li class="me-2 my-1 fs-6 text-muted"><i class="fa-solid fa-users  mx-2"></i>Servings:&nbsp;{{this.servings}}</li>
            <li class="me-2 my-1 fs-6 text-muted"><i class="fa-regular fa-clock fa-fw mx-2"></i>Cooking Time:&nbsp;{{this.cookingTime}}&nbsp;min</li>
          </ul>
          <ul class="my-2 d-flex ">
            {{#if vegetarian}}<li class="me-2 my-1"><span class="badge rounded-pill bg-success">Vegetarian</span></li>{{/if}}
            {{#if glutenFree}}<li class="me-2 my-1"><span class="badge rounded-pill bg-warning text-dark">Gluten Free</span></li>{{/if}}
            {{#if dairyFree}}<li class="me-1 my-1"><span class="badge rounded-pill bg-primary">Dairy Free</span></li>{{/if}}
          </ul>
        </div>
        <span class="d-flex" style="color: #06716e;"> <i class="fa-solid fa-basket-shopping fa-fw me-2"></i><h4 class="fw-bold">Ingredients</h4></span>
        <ul class="ingredients-name list-group list-group-flush my-2">
        {{#each this.ingredient}}
        <li class="list-group-item"> {{{this}}}</li>        
        {{/each}}
        </ul>      
        <span class="d-flex" style="color: #06716e;"><i class="fa-regular fa-rectangle-list fa-fw me-2" ></i><h4 class="fw-bold">Instructions</h4></span>
        <ol class="instruction-list list-group list-group-flush list-group-numbered my-2"> 
        {{#each this.instruction}} 
        <li class="list-group-item"> {{{this}}}</li>
        {{/each}} 
        </ol>
        </div>
      
        
      </div>
      <div class="modal-footer">
        <a href="{{this.fullDetailsUrl}}" target="_blank"><button type="button" class="btn btn-outline-success btn-sm">Full Recipe</button></a>
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>

{{/each}}
</div>
{{> goBack-btn-group}}