
<div class="row mb-5">
{{#each recipesdata}}
  <div class="col-md-4">
    <img class="img-responsive center-block mb-5" src=" {{this.image}}" alt="..." style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Time:</strong> {{this.cookingTime}} min</li>
        <li><strong>Servings:</strong>{{this.servings}}</li>
        {{#if vegetarian}}<li><span class="badge rounded-pill bg-success">Vegetarian</span></li>{{/if}}
        {{#if glutenFree}}<li><span class="badge rounded-pill bg-warning text-dark">Gluten Free</span></li>{{/if}}
        {{#if dairyFree}}<li><span class="badge rounded-pill bg-primary">Dairy Free</span></li>{{/if}}
      </ul>
    </div>
    <div class="well">
      <h3>Ingredients</h3>
      <ul class="list-unstyled">
        <li><strong>extendedIngredients[index].name</strong> extendedIngredients[index].amount (num)extendedIngredients[index].unit (string)</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <h3>{{this.dishName}}</h3>
    <p style="white-space: break-spaces;">{{{this.summary}}}</p>

  </div>
  <hr>
  <h3>Cooking Instructions</h3>
  <p>{{{this.instruction}}}</p>
  {{/each}}
</div>