<a href="/plans" class="reselect-plan"><i class="fa-solid fa-angles-left"></i>
  Reselect your plan</a>
<form class="needs-validation" action="/order" method="post" novalidate>
  <div class="mt-3 cart-form-container" data-bs-offset="0" tabindex="0">
    <h4 class="scroll-title">Selected Plan</h4>
    <div class="scroll-body">
      <ol class="my-3">
        <li><strong>Menu:</strong> {{menu}}<input type="hidden" name="menu"
            value={{menu}}></li>
        <li><strong>Preference:</strong><br> {{#if preference}}{{join
          preference}}<input type="hidden" name="preference"
            value={{preference}}>{{else}}No special
          preference<input type="hidden" name="preference"
            value="N/A">{{/if}}</li>
        <li> <strong>Servings:</strong> {{servings}}<input type="hidden"
            name="servings"
            value={{servings}}></li>
        <li> <strong>Meals:</strong> {{meals}}<input type="hidden" name="meals"
            value={{meals}}></li>
        <li> <strong>Total: $</strong> {{mealTotal}} <input type="hidden"
            name="mealTotal"
            value={{mealTotal}}></li>
      </ol>
    </div>
    <h4 class="scroll-title">Duration</h4>
    <div class="scroll-body">
      {{!-- Duration --}}
      <div class="duration">
        <span class="text-muted my-2">How long do you want to subscribe?</span>
        <div class="col-md-4 my-4">
          <div class="duration-row mb-2 fs-5">
            <span class="duration-item">
              <select name="duration" class="form-select form-select-sm
                fs-5"
                aria-label="duration" required>
                <option value="" disabled selected>Please select</option>
                <option value="1 week">1 week</option>
                <option value="2 weeks">2 weeks</option>
                <option value="1 month">1 month</option>
                <option value="2 months">2 months</option>
                <option value="3 months">3 months</option>
              </select>
              <div class="invalid-feedback">Please select a valid number.</div>
            </span>
          </div>
        </div>
      </div>
      {{!-- Recurring Subscription --}}
      <div class="recurSub">
        <h4 class="scroll-title">Recurring Subscription </h4>
        <span class="text-muted my-2">Automatically renew the subscription
          when your plans end. Don't worry, you can cancel anytime!</span>
        <div class="col-md-4 my-4">
          <div class="recurSub-row mb-2 fs-5">
            <span class="recurSub-item">
              <select name="recurSub" class="form-select form-select-sm
                fs-5"
                aria-label="recurSub" required>
                <option value="" disabled selected>Please select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
              <div class="invalid-feedback">Please select an option.</div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <h4 class="scroll-title">Delivery Details</h4>
    <div class="scroll-body">
      {{!-- Delivery details --}}
      <div class="delivery-details">

        <div class="row mb-2 fs-5">
          <div class="form-group col-md-6 my-3">
            <label for="name" class="me-2">Name:</label>

            <input type="text" name="name" id="name" class="form-control"
              required>
            <div class="invalid-feedback">This field is required.</div>
          </div>
          <div class="form-group col-md-6 my-3">
            <label for="phone" class="me-2">Phone:</label>
            <input type="tel" name="phone" id="phone" class="form-control"
              required>
            <div class="invalid-feedback">Please provide a valid phone
              number.</div>
          </div>
          <div class="form-group col-md-6 my-3 ">
            <label for="email" class="me-2">Email:</label>
            <input type="email" name="email" id="email" class="form-control"
              required>
            <div class="invalid-feedback">Please provide a valid email.</div>
          </div>

          <div class="form-group col-md-12 my-3">
            <label for="address" class="me-2">Address:</label>
            <input type="text" name="address" id="address"
              class="form-control" required>
            <div class="invalid-feedback">Please provide a valid address.</div>
          </div>
          <div class="form-group col-md-12 my-3">
            <span>Preferred delivery time:</span>
            <p style="font-size:0.85rem;font-family:" Lato", sans-serif;">We'll
              do our best to delivered in specified time. However
              sometimes there might be uncertainties caused by varied
              reasons,
              please understand. </p>
            <select name="preferredDeliveryDate" class="form-select
              form-select-sm fs-5 my-2"
              aria-label="preferredDeliveryDate" required>
              <option value="" disabled selected>Day</option>
              <option value="Weekday">Weekday</option>
              <option value="Weekend">Weekend</option>
            </select>
            <div class="invalid-feedback">Please select an option.</div>
            <select name="preferredDeliveryTime" class="form-select
              form-select-sm fs-5 my-2"
              aria-label="preferredDeliveryTime" required>
              <option value="" disabled selected>Time</option>
              <option value="Not specified">Not specified</option>
              <option value="9-12">9-12</option>
              <option value="14-17">14-17</option>
              <option value="18-20">18-20</option>
            </select>
            <div class="invalid-feedback">Please select an option.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="continue-btn col-12 text-center my-2">
      <button class="btn btn-outline-success" type="submit">Confirm Order</button>
      <button class="btn btn-outline-secondary" type="reset">Reset</button>
    </div>
</form>




