{{!-- title --}}
<div class="section-title text-center">
    <h1 class="fw-bold" style="color: #06716e;">Shopping Cart</h1>
</div>
<a href="/plans" class="reselect-plan"><i class="fa-solid fa-angles-left"></i> Reselect your plan</a>
{{!-- Accordion  --}}
<div class="accordion accordion-flush mt-2" id="accordionExample">
  {{!-- Selected plan --}}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <strong>Selected Plan</strong> 
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
      <div class="accordion-body">
        <form action="/cart" method="post">
          <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Menu</th>
                        <th scope="col">Preference</th>
                        <th scope="col">Servings</th>
                        <th scope="col">Meals per week</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                          {{menu}}
                          <input type="hidden" name="menu" value={{menu}}>
                        </td>
                        <td><div class="cart-preference">{{#if preference}}
                          <ul>
                            {{join preference}}
                            <li>{{else}}No special preference</li>
                            <input type="hidden" name="preference" value={{preference}}>
                          </ul>
                          {{/if}}
                          </div></td>
                        <td>
                          {{servings}}
                          <input type="hidden" name="servings" value={{servings}}>
                        </td>
                        <td>
                          {{meals}}
                        <input type="hidden" name="meals" value={{meals}}>
                        </td>
                        <td> 
                          <strong>$</strong> {{mealTotal}}
                          <input type="hidden" name="mealTotal" value={{mealTotal}}>
                        </td>
                        <td><i class="fa-solid fa-trash"></i></td>
                    </tr>
                </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
  {{!-- Recurring subscription --}}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <strong>Duration</strong> 
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {{!-- Duration  --}}
        <div class="duration">
          <h4 class="text-muted">Duration </h4>
          <span class="text-muted my-2">How long do you want to subscribe?</span>
          <div class="col-md-4 my-4">
              <div class="duration-row mb-2 fs-5">
                  <span class="duration-item">
                    <select name="duration" class="form-select form-select-sm fs-5"  aria-label="duration" required>
                      <option value="" disabled selected>Duration</option>
                      <option value="1 week">1 week</option>
                      <option value="2 weeks">2 weeks</option>
                      <option value="1 month">1 month</option>
                      <option value="2 months">2 months</option>
                      <option value="3 months">3 months</option>
                    </select>
                    <div class="invalid-feedback">Please select a valid number.</div>
                  </span>
              </div>
          </div>
        </div>
        {{!-- Recurring Subscription  --}}
        <div class="recurSub">
          <h4 class="text-muted">Recurring Subscription </h4>
          <span class="text-muted my-2">Automatically renew the subscription when your plans end. Don't worry, you can cancel anytime!</span>
          <div class="col-md-4 my-4">
            <div class="recurSub-row mb-2 fs-5">
                  <span class="recurSub-item">
                    <select name="recurSub" class="form-select form-select-sm fs-5"  aria-label="recurSub" required>
                      <option value="" disabled selected>Please select</option>
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                    <div class="invalid-feedback">Please select an option.</div>
                  </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- Delivery details  --}}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <strong>Delivery Details</strong>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
{{> goBack-btn-group}}

