<div class="container my-5 py-5">
  {{> message}}
  <div class="profile-container pt-5">
    {{> profile-tabs}}
    <div class="ms-3">
      <div class="profile-section">
        <h4 class="profile-subtitle d-inline">Change Password</h4>
        <form class="needs-validation" action="/users/profile/{{userId}}/changePassword?_method=PUT"
          method="post" novalidate>
          {{!-- Csrf token  --}}
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          <ul class="profile-item my-3">
            <li>
            <strong><label for="newPassword" class="mb-3">New Password</label></strong>
            <input type="password" class="form-control d-inline" id="newPassword" name="password"
              class="form-control form-control-lg" pattern="^(?=.*\d)(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,16}$" value="{{password}}" maxlength="16" required>
              <div class="invalid-feedback">Please enter your new
              password.
              The password must contain at least 8 and maximum 16
              characters, including at least 1 uppercase, 1 lowercase,
              and one number.</div>
            </li>
            <li>
            <strong><label for="confirmNewPassword" class="mb-3">Confirm New Password</label></strong>
            <input type="password" class="form-control d-inline" id="confirmNewPassword"
              name="confirmPassword" class="form-control
              form-control-lg"
              pattern="^(?=.*\d)(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,16}$"
              value="{{confirmPassword}}" maxlength="16" required>
              <div class="invalid-feedback">Please confirm your new
              password.</div>
            </li>
            <!-- confirm button -->
            <li class="mt-5">
              <div class="col-12">
                <button type="submit" class="btn confirm-btn me-3">Confirm</button>
                <a href="/users/profile/{{userId}}/settings"><button type="button" class="btn btn-secondary">Cancel</button></a> 
              </div>
            </li>
          </ul>
          <input type="hidden" name="email" value="{{email}}">
        </form>
      </div>
    </div>
  </div>
</div>
