<div class="container my-5 py-5">
  {{> message}}
  <div class="profile-container pt-5">
    {{> profile-tabs}}
    <div class="tab-content ms-3" id="v-pills-tabContent">
      {{!-- My plans --}}
      {{#is path 'plans'}}
      <div class="profile-section">
        {{!-- Order Details --}}
        <details>
          <summary>
            <h4 class="profile-subtitle d-inline">Current Plan details</h4>
          </summary>
          {{#if isEmpty}}
          <h4 class="my-4 ms-3">No active plans. Get new plans <a href="/plans"
              class="text-reset"><span style="color:rgb(240, 82, 54);
                font-weight:700">here </span></a>!</h4>
          {{else}}
          <ul class="profile-item my-3">
            <li><strong>Order id:</strong>#{{showId}}</li>
            <li><strong>Ordered at:</strong>{{orderAt}}</li>
            <li>
              <strong>Status:</strong>{{status}}
              {{#is status 'Payment not confirmed'}}
              <a href="/orders/{{showId}}/payment/{{userId}}" class="my-2 mx-2">
                <button class="btn btn-warning btn-sm">Pay now!</button>
              </a>
              {{/is}}
            </li>
            <li><strong>Menu:</strong>{{menu}}</li>
            <li><strong>Preference:</strong> <p>{{preference}}</p> </li>
            <li> <strong>Servings:</strong>{{servings}}</li>
            <li> <strong>Meals:</strong>{{meals}} </li>
            <li> <strong>Total: $</strong>{{totalAmount}}</li>
          </ul>
          {{/if}}
        </details>
        {{!-- Delivery Details --}}
        <details>
          <summary>
            <h4 class="profile-subtitle d-inline">Delivery Details</h4>
          </summary>
          {{#if isEmpty}}
          <h4 class="my-4 ms-3">No active plans. Get new plans <a href="/plans"
              class="text-reset"><span style="color:rgb(240, 82, 54);
                font-weight:700">here </span></a>!</h4>
          {{else}}
          <ul class="profile-item my-3">
            <li> <strong>Name: </strong> {{name}}</li>
            <li> <strong>Email: </strong>{{email}}</li>
            <li> <strong>Phone: </strong>{{phone}}</li>
            <li> <strong>Address: </strong> {{address}}</li>
            <li> <strong>Preferred day: </strong> {{preferredDay}}</li>
            <li> <strong>Preferred day: </strong> {{preferredTime}}</li>
          </ul>
          {{/if}}
        </details>
      </div>
      {{/is}}
      {{!-- Settings --}}
      {{#is path 'settings'}}
      <div class="profile-section">
        <h4 class="profile-subtitle d-inline">Settings</h4>
        <ul class="profile-item my-3">
          {{!-- Profile presentation mode  --}}
          <li><strong>Name:</strong> {{name}}</li>
          <li><strong>Email:</strong> {{email}}</li>
          <li><strong>Recurring subscription: </strong> {{#is recurringSub true}} Yes {{else}} No {{/is}} </li>
          <!-- change password button -->
          <li>
            <div class="col-12 mt-5">
              <a href="/users/profile/{{userId}}/manageSettings">
                <button type="button" class="btn btn-outline-success me-3">
                  Manage Settings
                </button>
              </a>
              <a href="/users/profile/{{userId}}/changePassword">
                <button type="button" class="btn btn-outline-secondary">
                Change Password
              </button>
              </a>
              
            </div>
          </li>

        </ul>
      </div>
      {{/is}}
    </div>
  </div>
</div>
