<div class="container my-5 py-5">
  {{> message}}
  <div class="profile-container pt-5">
    {{!-- Edit profile tab --}}
    <div class="nav nav-pills me-3" id="v-pills-tab" role="tablist"
      aria-orientation="vertical">
      <button class="nav-link active" id="v-pills-home-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-home" type="button" role="tab"
        aria-controls="v-pills-home" aria-selected="true">My Plans</button>
      <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
        data-bs-target="#v-pills-settings" type="button" role="tab"
        aria-controls="v-pills-settings" aria-selected="false">Settings</button>
    </div>
    <div class="tab-content ms-3" id="v-pills-tabContent">
      {{!-- My plans --}}
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
        aria-labelledby="v-pills-home-tab">
        {{!-- Order Details --}}
        <details>
          <summary>
            <h4 class="profile-subtitle d-inline">Order details</h4>
          </summary>
          <ul class="profile-item my-3">
            <li><strong>Order id:</strong> <input type="hidden"
                name="orderId"
                value=></li>
            <li><strong>Ordered at:</strong> <input type="hidden"
                name="orderAt"
                value=></li>
            <li><strong>Status:</strong><input type="hidden"
                name="status"
                value=></li>
          </ul>
        </details>
        {{!-- Plans --}}
        <details>
          <summary>
            <h4 class="profile-subtitle d-inline">Plans</h4>
          </summary>
          <ul class="profile-item my-3">
            <li><strong>Menu:</strong> <input type="hidden" name="menu"
                value=></li>
            <li><strong>Preference:</strong><br> <input type="hidden"
                name="preference"
                value=>No special
              preference<input type="hidden" name="preference"
                value="N/A"></li>
            <li> <strong>Servings:</strong><input type="hidden"
                name="servings"
                value=></li>
            <li> <strong>Meals:</strong> <input type="hidden"
                name="meals"
                value=></li>
            <li> <strong>Total: $</strong> <input type="hidden"
                name="mealTotal"
                value=></li>
          </ul>
        </details>
        {{!-- Delivery Details --}}
        <details>
          <summary>
            <h4 class="profile-subtitle d-inline">Delivery Details</h4>
          </summary>
          <ul class="profile-item my-3">
            <li> <strong>Name: </strong> <input type="hidden"
                name="mealTotal"
                value=></li>
            <li> <strong>Email: </strong> <input type="hidden"
                name="mealTotal"
                value=></li>
            <li> <strong>Phone: </strong> <input type="hidden"
                name="mealTotal"
                value=></li>
            <li> <strong>Address: </strong> <input type="hidden"
                name="mealTotal"
                value=></li>
            <li> <strong>Preferred delivery: </strong> <input
                type="hidden"
                name="mealTotal"
                value=></li>
          </ul>
        </details>
      </div>
      {{!-- Settings --}}
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
        aria-labelledby="v-pills-settings-tab">
        <h4 class="profile-subtitle d-inline"><i class="fa-solid fa-gear fa-lg
            fa-fw mx-1"></i>Settings</h4>
        <ul class="profile-item my-3">
          <li> <strong>Name:</strong> {{name}}</li>
          <li> <strong>Email:</strong> {{email}}</li>
          <li>
            <strong>Recurring subscription: </strong>
            <div class="scroll-body">
              <div class="recurSub">
                <span class="text-muted my-2">Automatically renew the subscription
                  when your plans end. Don't worry, you can cancel anytime!</span>

                <div class="col-md-4 my-4">
                  <div class="recurSub-row mb-2 fs-5">
                    <span class="recurSub-item">
                      <select name="recurringSub" class="form-select form-select-sm
                        fs-5"
                        aria-label="recurringSub" required>
                        <option value="" disabled selected>Please select</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                      <div class="invalid-feedback">Please select an option.</div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-- change password button -->
          <li> <button data-bs-toggle="modal" data-bs-target="#changePassword">Change
              Password</button></li>
          <!-- Change Password Modal -->
          <div class="modal fade" id="changePassword" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="changePasswordLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title fw-bold" id="changePasswordLabel"
                    style="letter-spacing: 1px;">Change Password</h5>
                  <button type="button" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form class="needs-validation" action="{{#if
                    user}}/users/changePassword/{{user.id}}?_method=PUT{{else}}/{{/if}}"
                    method="post" novalidate>
                    <!-- New Password input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="newPassword">New Password</label>
                      <input type="password" id="newPassword" name="newPassword"
                        class="form-control form-control-lg"
                        pattern="^(?=.*\d)(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,16}$"
                        value="{{newPassword}}" required>
                      <div class="invalid-feedback">Please enter your new
                        password.
                        The password must contain at least 8 and maximum 16
                        characters, including at least 1 uppercase, 1 lowercase,
                        and one number.</div>
                    </div>
                    <!--Confirm Password input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="confirmNewPassword">Confirm
                        New Password</label>
                      <input type="password" id="confirmNewPassword"
                        name="confirmNewPassword" class="form-control
                        form-control-lg"
                        pattern="^(?=.*\d)(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,16}$"
                        value="{{confirmNewPassword}}" required>
                      <div class="invalid-feedback">Please confirm your new
                        password.</div>
                    </div>
                    <input type="hidden" name="email" value="{{email}}">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                      data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>

  </div>
</div>
