<div class="container my-5 py-5">
  {{> message}}
  <form action="/orders/{{showId}}/payment/{{userId}}/ecpay" method="get">
    <div class="payment-container row d-flex py-3">
      {{!-- Current Plan info --}}
      <div class="col-12 col-md-6">
        <h4 class="scroll-title">Current Plan Details</h4>
        <div class="scroll-body">
          <ol class="my-3">
            <li><strong>Order number: </strong> #{{showId}}</li>
            <li><strong>Order at:</strong> {{orderAt}}</li>
            <li><strong>Menu:</strong> {{menu}}</li>
            <li><strong>Preference:</strong> {{preference}}</li>
            <li><strong>Servings:</strong> {{servings}}</li>
            <li><strong>Meals per week:</strong> {{meals}}</li>
            <li><strong>Total amount:</strong> $ {{totalAmount}}</li>
          </ol>
        </div>
      </div>
      {{!-- Current Plan info --}}
      <div class="col-12 col-md-6">
        <h4 class="scroll-title">Delivery Details</h4>
        <div class="scroll-body">
          <ol class="my-3">
            <li><strong>Name: </strong> {{name}}</li>
            <li><strong>Email:</strong> {{email}}</li>
            <li><strong>Phone:</strong> {{phone}}</li>
            <li><strong>Address:</strong> {{address}}</li>
            <li><strong>Preferred Delivery Day:</strong> {{preferredDay}}</li>
            <li><strong>Preferred Delivery Time:</strong> {{preferredTime}}</li>
          </ol>
        </div>
      </div>
      {{!-- Hidden input fields --}}
      <input type="hidden" name="totalAmount" value={{totalAmount}}>
      <input type="hidden" name="orderAt" value={{orderAt}}>
      <input type="hidden" name="menu" value={{menu}}>
      <input type="hidden" name="servings" value={{servings}}>
      <input type="hidden" name="meals" value={{meals}}>
      {{!-- Confirm buttons --}}
      <div class="continue-btn col-12 text-center mt-5">
        <a href="" target="_blank"><button class="btn btn-outline-success fw-bold fs-6" type="submit"><i
            class="fa-regular fa-credit-card"></i> Ready to Pay</button></a>
      </div>
    </div>
  </form>
  <!-- Divider -->
  <div class="divider d-flex align-items-center mt-3">
    <p class="text-center fw-bold mx-3 mb-0 text-muted fs-5">Or Checkout With</p>
  </div>


  <!-- Third-Party Payment  -->
  <div class="d-flex justify-content-center text-center mt-2">

    <!-- PayPal Form Info -->
    <table border="0" cellpadding="10" cellspacing="0" align="center">
      <tr>
        <td align="center">
          <form action="/orders/{{showId}}/payment/{{userId}}/paypal"
            method="post">
            <input type="hidden" name="userId" value={{userId}}>
            <input type="hidden" name="showId" value={{showId}}>
            <input type="hidden" name="totalAmount" value={{totalAmount}}>
            <input type="hidden" name="orderAt" value={{orderAt}}>
            <input type="hidden" name="menu" value={{menu}}>
            <input type="hidden" name="servings" value={{servings}}>
            <input type="hidden" name="meals" value={{meals}}>
            <input type="hidden" name="preference" value={{preference}}>
            <input type="hidden" name="name" value={{name}}>
            <input type="hidden" name="email" value={{email}}>
            <input type="hidden" name="phone" value={{phone}}>
            <input type="hidden" name="address" value={{address}}>
            <button type="submit" style="border: 0;
              background-color:transparent">
              <img
                src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/44_Grey_PayPal_Pill_Button.png"
                alt="PayPal" />
            </button>
          </form>
        </td>
      </tr>
    </table>
    <!-- PayPal Logo -->
  </div>
</div>
